.education-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.education-left {
  flex: 0.6;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.education-left-wrapper-item {
  margin: 20px 0;
  font-size: 26px;
}
.cv-button {
  color: black;
  background-color: #59b256;
  border-radius: 5px;
  padding: 10px;
}

.education-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.education-right-ipeim,
.education-right-ensit {
  min-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  margin: 10px;
  color: white;
}

.education-right-ensit {
  background-color: #59b256;
}
.education-right-ipeim {
  background-color: lightgray;
  color: black;
}
@media only screen and (max-width: 760px) {
  .education-wrap {
    flex-direction: column;
  }
}
@media only screen and (max-width: 300px) {
  .education-right-ipeim,
  .education-right-ensit {
    min-width: 50px;
    min-height: 50px;
    width: 100px !important;
    height: 100px !important;
  }
}
