.title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
}
.title {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.6);
}
.title-dec {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100px;
  height: 5px;
}
